{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Gestión Biblioteca{% endblock %}</title>

    <!-- CSS base -->
    <link rel="stylesheet" href="{% static 'primera_app/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'primera_app/css/bootstrap_cyborg.css' %}">

    <!-- CSS adicional por vista -->
    {% block estilos %}{% endblock %}
  </head>

  <body>
    {% block cabecera %}{% endblock %}
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
